.tip-button {
  width: 304px;
  height: 89px;
  background-size: 100%;
  background-image: url('/img/1_pay_mm_off.png');
  cursor: pointer;
}
.tip-button:hover {
  background-image: url('/img/1_pay_mm_over.png');
}
.tip-button:active {
  background-image: url('/img/1_pay_mm_off.png');
}
#donor{
	width:75%;
}
#comment{
	height:100px;
	width:290px;
}
.input_box{
	margin: 15px;
}
.logo span{
      letter-spacing: 5;
      font-family: Karla;
      font-size: 2.5em;
      color:#464A78;
}
input{
	width:50%;
	border:2px solid #CCC;
	padding:2px;
	text-align: center;
}
.currency{
	padding:5px;
	color:#535DF1;
	letter-spacing: 2px;
	font-weight: bold;
}

.container{

	height:500px;
	width:300px;
	background: url('../img/abs.png');
	border-radius: 10px;
	border: 4px solid #535DF1;
	margin:auto;
	color:#2E2E2E;
	text-align: center;
}
.container h4 {
	width:300px;
	font-size: 12px;
	color:#535DF1;
}
.link{
	width: 50%;
}
.link-content{
	text-align: center;
}
.request_box{
	margin-top: 20%;
}