link(href="style.css" rel="stylesheet" type="text/css")
h1 DONATION PAGE
p Sending ETH to: 
	span(id="address") #{address}
p Leave a message:
textarea(id="comment")
div(class="tip-button")
div(class="message")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="pay_button.js")
